@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', 'Helvetica';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(0, 0%, 0%);
  background: linear-gradient(169deg, hsl(0, 0%, 0%) 0%, hsl(0, 58%, 19%) 65%, hsl(354, 70%, 54%) 100%);
}

/* ==> App */
.main-container{
  width: 100%;
  height: 100vh;
}

.tvButton{
  z-index: 1;
  padding: 8px 24px;
  position: absolute;
  top: 8%;
  left: 80%;
}
/* App <== */

/* ==> Background Video */

.video-container{
  width: 100%;
  height: 100vh;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
}
/* Background Video <== */


/* ==> Nav Bar */

.nav-position{
  position: absolute;
  top: 5%;
  width: 50%;
  z-index: 1;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-container{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav-img img{
  height: 70px;
  cursor: pointer;
}

.nav-bar ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-bar ul a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  transition-duration: 300ms;
}

.nav-bar ul a:hover{
  border-bottom: 5px solid hsl(354, 70%, 54%);
  padding-bottom: 3px;
  transition-duration: 300ms;
}
/* Nav Bar <== */


/* Home Component */

.home-position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FBFBFB;
}

.footer-position{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  z-index: 1;
  height: 50px;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon{
  font-size: 24px;
  cursor: pointer;
  color: #FBFBFB;
  z-index: 1;
  transition-duration: 300ms;
}

.icon:hover{
  color: hsl(354, 70%, 54%);
  transform: scale(1.2);
  transition-duration: 300ms;
}



/* Driver CSS */


.main-driver-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}

.main-table tbody tr:nth-child(even):hover{
  background-color: hsl(218, 11%, 66%, 65%);
}

.main-table tbody tr:nth-child(odd):hover{
  background-color: hsl(218, 11%, 66%, 5%);
}

/* Scroll Bar Css */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FBFBFB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 6%, 19%, 50%);
  border-radius: 0 5px 5px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 6%, 19%, 70%);
}

.table-scroll{
  height: 70vh;
  overflow-y: auto;
  width: 70%;
}

.table-scroll::-webkit-scrollbar {
  display: none;
}

.table-scroll > .main-table{
  width: 100%;
}

.main-table{
  width: 70%;
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.main-table tbody tr:nth-child(even){
  background-color: hsl(218, 11%, 66%, 50%);
}

.main-table tr, td{
  /* border: 1px solid black; */
  border-collapse: collapse;
  padding: 5px 15px;
}


.main-table th{
  background-color: #3B71CA;
  color: #FBFBFB;
  height: 50px;
  font-size: 24px;
  position: sticky;
  top: 0;
}


.td-driver{
  width: 10%;
  text-align: center;
}

.td-driver2{
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flag{
  margin-right: 5px;
}

/* Driver Details css */

.main-table-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:70%;
}

.title {
  margin-bottom: 10px;
  align-items: center;
}

.details-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-detail-menu {
  text-align: left;
  padding: 10px;
}

.img-driver img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.info-container {
  display: flex;
}

.info {
  width: 150px;
  height: 150px;
  padding-left: 10px;
}
.driver-name {
  font-size: 18px;
}

/* Races CSS */

.main-races-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.above-table-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.main-table th{
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
}

.td-race-position{
  width: 10%;
  text-align: center;
}

.td-race-track{
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}




  /* Green */
  /* color: hsl(162, 73%, 46%, .2); */
  /* Yellow */
  /* color: hsl(45, 100%, 51%, .2); */
  /* Red */
  /* color: hsl(354, 70%, 54%, .2); */
  /* Orange */
  /* color: hsl(27, 98%, 54%, .2); */
  /* Grey */
  /* color: hsl(210, 11%, 71%, .2); */