@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', 'Helvetica';
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url("./images/HomePage\ Cover.jpg");
  background-color: #cccccc; 
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; */
}

/* .main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* Nav Bar */
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

/* .nav-img{
  overflow: hidden;
  height: 30%;
} */

.nav-img img{
  height: 70px;
  cursor: pointer;
}

.nav-bar ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav-bar ul a{
  text-decoration: none;
  /* color: #fff; */
  font-size: 18px;
  font-weight: 800;
}

/* Home Component */

.main-home-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

/* Tables CSS */

/* Round Corners */
table th:first-child {
  border-radius: 10px 0 0 0 !important;
}
table th:last-child {
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}
/* Round Corners */

.main-driver-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-table tbody tr:nth-child(even):hover{
  background-color: hsl(218, 11%, 66%, 65%);
}

.main-table tbody tr:nth-child(odd):hover{
  background-color: hsl(218, 11%, 66%, 5%);
}

/* Scroll Bar Css */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FBFBFB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 6%, 19%, 50%);
  border-radius: 0 5px 5px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 6%, 19%, 70%);
}

.table-scroll{
  height: 70vh;
  overflow-y: auto;
  width: 70%;
}

.table-scroll::-webkit-scrollbar {
  display: none;
}

.table-scroll > .main-table{
  width: 100%;
}

.main-table{
  width: 70%;
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.main-table tbody tr:nth-child(even){
  background-color: hsl(218, 11%, 66%, 50%);
}

.main-table tr, td{
  /* border: 1px solid black; */
  border-collapse: collapse;
  padding: 5px 15px;
}


.main-table th{
  background-color: #3B71CA;
  color: #FBFBFB;
  height: 50px;
  font-size: 24px;
  position: sticky;
  top: 0;
}


.td-driver{
  width: 10%;
  text-align: center;
}

.td-driver2{
  border: none;
  display: flex;
  align-items: center;
}

.flag{
  margin-right: 5px;
}

/* Races CSS */

.main-races-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.above-table-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.main-table th{
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
}

.td-race-position{
  width: 10%;
  text-align: center;
}

.td-race-track{
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}



