@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', 'Helvetica';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 0%);
  background: linear-gradient(169deg, hsl(0, 0%, 0%) 0%, hsl(0, 58%, 19%) 65%, hsl(354, 70%, 54%) 100%);
}

h1, h3 {
  color: white;
}

h1 {
  text-align: left;
}

/* ==> App */
.main-container {
  width: 100%;
  height: 100vh;
}

.tvButton {
  z-index: 1;
  padding: 8px 24px;
  position: absolute;
  top: 8%;
  left: 80%;
}

/* App <== */

/* ==> Background Video */

.video-container {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
}

/* Background Video <== */


/* ==> Nav Bar */

.nav-position {
  position: absolute;
  top: 5%;
  width: 50%;
  z-index: 1;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-container {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav-img img {
  height: 70px;
  cursor: pointer;
}

.nav-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-bar ul a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  transition-duration: 300ms;
}

.nav-bar ul a:hover {
  border-bottom: 5px solid hsl(354, 70%, 54%);
  padding-bottom: 3px;
  transition-duration: 300ms;
}

/* Nav Bar <== */


/* Home Component */

.home-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #FBFBFB;
}

.footer-position {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-authors{
  width: 20%;
  color: #FBFBFB;
  box-shadow:
  hsl(354, 70%, 54%, .4) -5px 5px, 
  hsl(354, 70%, 54%, .3) -10px 10px, 
  hsl(354, 70%, 54%, .2) -15px 15px,
  hsl(354, 70%, 54%, .1) -20px 20px,
  hsl(354, 70%, 54%, .05) -25px 25px;
  padding: 0 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #FBFBFB;
  z-index: 1;
  transition-duration: 300ms;
}

.icon:hover {
  color: hsl(354, 70%, 54%);
  transform: scale(1.2);
  transition-duration: 300ms;
}


/* Driver CSS */


.main-driver-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
}

.main-table tbody tr:nth-child(even):hover {
  background-color: hsl(218, 11%, 66%, 65%);
}

.main-table tbody tr:nth-child(odd):hover {
  background-color: hsl(218, 11%, 66%, 5%);
}

/* Scroll Bar Css */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, hsl(220, 13%, 18%) 0%, hsla(272, 100%, 6%, 0.5) 100%);
  border-radius: 0 5px 5px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(354, 70%, 54%);
  border-radius: 0 5px 5px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(354, 70%, 54%, .8);
}

.table-scroll {
  height: 70vh;
  overflow-y: auto;
  width:75%;
  border: 1px solid #ffffff22;
  border-radius: .7rem;
}

/* .table-scroll::-webkit-scrollbar {
  display: none;
} */

.table-scroll>.main-table {
  width: 100%;
}

.main-title {
  width: 75%;
  text-align: left;
  padding-top: 20px;
}

.title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 10px 0 10px 0;
}

.main-table {
  width:80%;
  /* border: 1px solid black; */
  border-collapse: collapse;
  background: linear-gradient(0deg, hsl(220, 13%, 18%) 0%, hsla(272, 100%, 6%, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
}

.main-table tbody tr:nth-child(even) {
  background-color: hsl(218, 11%, 66%, 50%);
}

.main-table tr,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  padding: 5px 15px;
  color: #FBFBFB;
}

.main-table th {
  background-color: hsl(354, 70%, 54%);
  color: #FBFBFB;
  height: 50px;
  font-size: 24px;
  position: sticky;
  top: 0;
  padding: 0 10px 0 10px;
}


.td-driver {
  width: 10%;
  text-align: center;
}

.td-driver2 {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.td-driver-race {
  text-align: center;
}

.flag {
  margin-right: 10px;
}

/* Driver Details css */

.main-table-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.empty-div {
  width: 256px;
  height: 50px;
}

.details-table {
  display: flex;
  justify-content: space-between;
  width:100%;
}

.main-detail-menu {
  display: flex;
  text-align: left;
  padding: 10px;
  flex-direction: column;
  -webkit-user-select:none;
  user-select:none;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, hsl(220, 13%, 18%) 0%, hsla(272, 100%, 6%, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  /* -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px); */
  overflow: hidden;
  transition: .5s all;
}
.main-detail-menu ::before{
  position: absolute;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 100vh;
  transition: 0.7s all;
}
.main-detail-menu:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3); 
}
.main-detail-menu:hover ::before{
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}

.main-detail-menu hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-driver img {
  width: 150px;
  object-fit: cover;
  border-radius: .7rem;
  border: 1px solid #ffffff22;
}

.details {
  width: 100%;
  height: auto;
  color: hsl(0, 0%, 98%);
}

.details a{
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  border-bottom: 1px solid #88888855;
  padding-bottom: 3px;
}

.details a:hover{
  color: hsl(354, 70%, 54%);
}

.info {
  display: flex;
  width: 150px;
  padding: 10px;
  align-items: center;
  color: hsl(0, 0%, 98%);
}


.driver-name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-left: 10px;
}

/* Races CSS */

.main-races-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.above-table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.main-table th {
  text-align: left;
  font-size: 20px;
}

.td-race-position {
  width: 10%;
  text-align: center;
}

.td-race-track {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}




/* Green */
/* color: hsl(162, 73%, 46%, .2); */
/* Yellow */
/* color: hsl(45, 100%, 51%, .2); */
/* Red */
/* color: hsl(354, 70%, 54%, .2); */
/* Orange */
/* color: hsl(27, 98%, 54%, .2); */
/* Grey */
/* color: hsl(210, 11%, 71%, .2); */

/* Loader CSS */

/* Loader Position */
.loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body > svg {
  width: 600px;
  height: auto;
  --stroke-dash: 46;
  --stroke-dash-negative: -46;
}
/* animate the car to move slightly forwards and backwards */
g#car {
  transform: translateX(-3px);
  animation: translate 2s ease-in-out infinite;
}
/* animate the shadow to skew  toward the left */
path#shadow {
  animation: skew 2s ease-in-out infinite;
}
/* animate the wheels to spin  clockwise*/
g.wheels use {
  animation: rotate 2s linear infinite;
}
/* animate the dashes of air to briefly show them and then hide them from view */
path.air {
  /* starting from the values described by the --stroke-dash property
  ! the property is updated for each path in the script
  */
  stroke-dasharray: var(--stroke-dash);
  stroke-dashoffset: var(--stroke-dash);
  /* ! the delay of the animation is also set up in the script  */
  animation: offset 2s linear infinite;
  /* opacity to hide the obnoxious dots otherwise shown on firefox and edge */
  opacity: 0;
}

/* keyframe animations
! be sure to have the animations overlap as to show a realistic behavior
- as the car moves right the wheels spin faster, the shadow skews left, the dashes of air appear in sequence
- as the car moves left the wheels spin slower while the shadow returns to its resting place
*/
@keyframes translate {
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}
@keyframes skew {
  50% {
    transform: skewX(-20deg);
  }
}
@keyframes rotate {
  50% {
    transform: rotate(4turn);
  }
  100% {
    transform: rotate(6turn);
  }
}

/* beside animating the stroke-dashoffset property rapidly change the opacity to show the dashes and hide them when they are removed by changing the offset property
otherwise the dashes would still be partially visible on firefox and edge (at least)
*/
@keyframes offset {
  1% {
    opacity: 1;
  }
  15% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    /* ! on chrome and firefox the calc() function allows to compute the negative value, but Edge seems to prefer having another variable instead */
    /* stroke-dashoffset: calc(var(--stroke-dash) * -1px); */
    stroke-dashoffset: var(--stroke-dash-negative);
  }
  100% {
    stroke-dashoffset: var(--stroke-dash-negative);
  }
}